@use '/src/styles/variables.scss' as *;

.tabla {
	margin: 0;
	thead {
		tr {
			vertical-align: middle;
			th {
				height: 3rem;
			}
		}
	}
	tbody {
		font-size: 0.8rem;
		tr {
			vertical-align: middle;
			.td_select {
				padding: 2px 4px;
			}
		}
	}
}
