/* @import '~bootstrap/scss/bootstrap'; */

/* src/styles/_variables.scss */
$primary-color: #262a33;
$secondary-color: #3f3e3e;
$fb_red: #d70510;
$fb_blue: #002cdc;
$font_dark: #333;

$base-font-family: 'DM Sans', Helvetica, Arial, sans-serif;
$heading-font-family: 'Red Hat Display', 'Montserrat', sans-serif;
$marca-font: 'Black Ops One', cursive;
/* #002cdc; */
