/* @import '~bootstrap/scss/bootstrap'; */

/* src/styles/_variables.scss */
$color_saltared: #b71b24;
$color_saltaShade: #f5525c;
$bg_1: #f8f9fa;
$bg_2: #f5f5f5;
$bg_25: #ebeaea;
$bg_3: #bdbdbd;
$bg_4: #757575;
$bg_5: #424242;
$gris_lineas: #dee2e6;

$selected_color: #eaf5f9;

$base-font-family: 'DM Sans', Helvetica, Arial, sans-serif;
$heading-font-family: 'Red Hat Display', 'Montserrat', sans-serif;
$marca-font: 'Black Ops One', cursive;
/* #002cdc; */
