@use '/src/styles/variables.scss' as *;

.tabla_container {
	box-shadow: 0px 0px 5px 0.04rem rgba($color: $gris_lineas, $alpha: 0.3);
	border-color: rgba($color: $color_saltared, $alpha: 0.1);
	border-radius: 0.375rem;
	overflow: hidden;
}
.tabla {
	margin: 0;
}
.span_ingrese {
	font-weight: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	span {
		margin-left: 0.5rem;
	}
	&_error {
		color: red;
	}
	&_succes {
		color: green;
	}
	&_base {
		opacity: 0.8;
		color: rgb(163, 162, 162);
	}
}
