.contenedor {
	.tab {
		border: 1px solid var(--bs-border-color);
		padding-inline: 1rem;
		padding-block: 7px;
		border-radius: var(--bs-border-radius);
		&[data-selected='true'] {
			border-bottom: 1px solid white;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
		button {
			padding-block: 1px !important;
		}
	}
}
